.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 228, 233);
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

td,
th {
    width: auto;
    padding: 10px;
}